%p
  From: #{compliment.complimenter}
%p
  To: #{compliment.complimentee}
%p= compliment.text

- if compliment.from?(current_user)
  = link_to "Edit", edit_compliment_path(compliment)
  = link_to "Delete", compliment_path(compliment), method: :delete
