.message

  .tac
    .message-avatar.message-avatar--from
      .message-avatar-media
        = image_tag compliment.complimenter_image, class: "thumb--m", size: "50"
      .message-avatar-name.tcs
        @#{compliment.complimenter_slack_username}

    .message-arrow
      &rarr;

    .message-avatar
      .message-avatar-media
        = image_tag compliment.complimentee_image, class: "thumb--m", size: "50"
      .message-avatar-name.tcs
        @#{compliment.complimentee_slack_username}



  .card.message-content
    = emojify(compliment.text)

  .message-meta.group
    %ul.list.list--inline.message-controls.has-btn
      %li.list-item
        = link_to "#", class: "js-upheart-toggle #{'is-uphearted' if compliment.uphearted_by?(current_user)}", data: { upheart_url: compliment_upheart_url(compliment) } do
          ="&hearts;".html_safe
          %span.js-upheart-count= compliment.upheart_count
      - if compliment.from?(current_user)
        %li.list-item= link_to "Edit", edit_compliment_path(compliment)
        %li.list-item= link_to "Delete", compliment_path(compliment), method: :delete

    %p.message-date
      %em= compliment.created_at.strftime("%B %d, %Y")
