.compliment.compliment-small
  .compliment-text
    .compliment-date
      %small
        %em.text-muted= compliment.created_at.strftime("%B %d, %Y")
    = image_tag compliment.complimenter.image, class: "img-avatar complimenter-image"
    = image_tag compliment.complimentee.image, class: "img-avatar complimentee-image"
    = compliment.text

    - if compliment.from?(current_user)
      .compliment-actions
        = link_to "", edit_compliment_path(compliment), class: "btn glyphicon glyphicon-pencil text-muted btn-xs"
        = link_to "", compliment_path(compliment), method: :delete, class: "btn glyphicon glyphicon-trash text-muted btn-xs"
