.message

  %p.message-date
    %em= compliment.created_at.strftime("%B %d, %Y")

  = image_tag compliment.complimenter.image, class: "thumb message-avatar"

  .card.message-content
    %p.message-content-name= compliment.complimenter.name
    = compliment.text

  .message-meta.group

    - if compliment.from?(current_user)
      %ul.list.list--inline.message-controls.has-btn
        %li.list-item= link_to "Edit", edit_compliment_path(compliment)
        %li.list-item= link_to "Delete", compliment_path(compliment), method: :delete

    .bucket.bucket--flag.message-complimentee
      .bucket-content.message-complimentee-name
        %p
          %span.tcs to
          = compliment.complimentee.name
      .bucket-media.message-complimentee-avatar
        = image_tag compliment.complimentee.image, class: "thumb"
