.split.mbm
  .split-cell

    %ul.list.list--inline
      .list-item= link_to "All", compliments_path, class: "list-item-link #{active_class(compliments_path)}"
      .list-item= link_to "Given", given_compliments_path, class: "list-item-link #{active_class(given_compliments_path)}"
      .list-item= link_to "Recieved", received_compliments_path, class: "list-item-link #{active_class(received_compliments_path)}"

  .split-cell

    = link_to "New Compliment", new_compliment_path, class: "btn"

- unless @compliments.empty?
  .g
    - @compliments.each do |compliment|
      .g-b.g-b--1of2
        = render compliment
- else
  %p.pal.tac.tcs.tsi There are no compliments currently. We need to be nicer.
