.row
  .col-sm-6
    %ul.nav.nav-pills
      = link_to "All", compliments_path, class: "btn btn-primary"
      = link_to "Given", "#", class: "btn"
      = link_to "Recieved", "#", class: "btn"
  .col-sm-6
    .text-right= link_to "New Compliment", new_compliment_path, class: "btn btn-primary"

%br

= render @compliments
