!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Compliments
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.row.row--a
      .cell.well
        .g
          .g-b.g-b--1of2
            = link_to root_path do
              = image_tag 'logo-compliments.svg', alt: 'Alt Text', class: ''
          .g-b.g-b--1of2
            = image_tag current_user.image, class: "thumb fr mts", height: "40", width: "40"

    %main.row.content
      .cell.well
        = yield
