!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Compliments
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default
      .container
        .navbar-header
          = link_to "Compliments", root_path, class: "navbar-brand"
        .nav.navbar-nav.navbar-right
          .navbar-brand
            = image_tag current_user.image, height: 40, width: 40

    .container
      .row
        .col-sm-12
          = yield
