!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Compliments
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag('https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700')
    = favicon_link_tag 'favicon.ico'
    = csrf_meta_tags
  %body{ class: body_class }
    %header.row.row--a.header
      .cell.well
        %h1.tac #compliments

    %main.row.content
      .cell.well
        = yield

    = javascript_include_tag 'application', 'data-turbolinks-track' => true
